name: Build and Push Docker Image

on:
  push:
    branches:
      - main
      - dev

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # Paso 1: Checkout del código
      - name: Checkout Code
        uses: actions/checkout@v3

      # Paso 2: Configurar JDK
      - name: Config JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'

      # Paso 3: Configurar Gradle Cache
      - name: Cache Gradle packages
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper/
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      # Paso 4: Iniciar sesión en GitHub Container Registry
      - name: Login GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.DOCKER_TOKEN }}

      # Paso 5: Establecer el tag de la imagen según la rama
      - name: Set Docker Image Tag
        id: get-tag
        run: |
          if [ "${{ github.ref }}" == "refs/heads/main" ]; then
            echo "TAG=latest" >> $GITHUB_ENV
          elif [ "${{ github.ref }}" == "refs/heads/dev" ]; then
            echo "TAG=dev" >> $GITHUB_ENV
          else
            echo "TAG=other" >> $GITHUB_ENV
          fi

      # Paso 6: Construir la imagen Docker con los secretos
      - name: Build And Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository }}:${{ env.TAG }}
          secrets: |
            gpr_user=${{github.actor}}
            gpr_token=${{secrets.DOCKER_TOKEN}}

  deploy_to_vm:
    name: Deploy Service
    needs: build-and-push
    uses: ingsis-group-11/infra/.github/workflows/update-vm.yml@main
    with:
     environment: ${{ github.ref == 'refs/heads/main' && 'prod' || 'dev' }}
    secrets:
       VM_PROD_IP: ${{ secrets.VM_PROD_IP }}
       VM_DEV_IP: ${{ secrets.VM_DEV_IP }}
       VM_USER: ${{ secrets.VM_USER }}
       SSH_PRIVATE_KEY_PROD: ${{ secrets.SSH_PRIVATE_KEY_PROD }}
       SSH_PRIVATE_KEY_DEV: ${{ secrets.SSH_PRIVATE_KEY_DEV }}
